
.panel{
	animation-name: anijumbotron;
    animation-duration: 1s;
}
@keyframes anijumbotron {
    from {left: 50%;}
    to {left: 2%;}
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000000000;
    top: 0;
    left: 0;

    overflow-x: hidden;
    transition: 0.5s;
    background-size: cover;
    background-position: center center;
}
.overlay .errors {
    opacity: 0;
    transition: opacity .5s;
    color: white;
    margin-top: 10px;
    font-size: .9em;
    position: relative;
}

.overlay-content {
	z-index: 10000000000000;
	padding: 0px;
	background-color: transparent;
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content .container .frase {

    transition: 0.3s;
    color: white;
  text-align: center;
  display: block;
  font-size: 30px;
  cursor: pointer;
  line-height: 2em;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  padding: 8px;
}
.overlay input[type="checkbox"] + label, .overlay input[type="radio"] + label {
    color: white;
}

.overlay .terms {
    font-size: smaller;
    margin: 1em 0 0 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.overlay .terms a {
    display: inline;
    text-decoration: underline;
    font: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
}



.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }




}

.btn-7 {

	color: white;
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 2px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  margin-top: 190px;
}

.btn-7:before {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  background : #fff;
  left: 0;
  top: 0;
  transition: all .3s;
  opacity: 0.3;
}

.btn-7:hover:before {
  height: 100%;
}




#contenedor-carga{background-color:white;height: 100%;width: 100%;position: fixed;z-index: 100000;
               transition: all 1s ease;}



#sia{
  margin-left: 30%;
  animation-name: opa;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

  @keyframes opa{
  from {  transform: rotate(0deg);}
    65%  {  transform: rotate(360deg);}
    to   { transform: rotate(360deg);}
}

.iconso{
	padding: 10px;
}
#burger{
	font-size:40px;cursor:pointer;position: relative;position:fixed;z-index: 2000;left: 95%; transition: all 1s ease;
}
#burger:hover{
   font-size:43px;
}
.skew {
   width: 120%;
   height: 350px;
   transform: skew(0deg, -7deg)              translateY(-120px);
   background-color: rgba(44,62,80,0.8);
   position: relative;
   margin-top: 0%;
   right:10%;
   box-shadow: 0 0 15px black;

}
#titpri{
	font-family: 'Alfa Slab One', cursive;text-align: left;color: white;text-decoration: underline;margin-top: 30px;
}
.panel{
	background-color: white;height: 100vh;width: 100vh;margin-top: -5%;position: relative;left: 2%;box-shadow: 0 0 40px black;border-radius: 4px;
}
#logoprin{
	width: 500px;margin-top: 4%;
}
#iconosini{
	display: none;
}
.panel3{
	height: 100vh; background-image: url('imgs/panel2.png');
   background-size: cover;margin-top: -32px;background-position: center center;
}
.acerca h1{
	font-family: 'Anton', sans-serif;;color: white; text-align: center;position: relative;z-index: 1;
}
.acerca p{
	font-family: 'Source Serif Pro', serif;color: white; font-size: 21px;position: relative;z-index: 1;
}


.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
	height: 35%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #8E8DBE;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}
